@model ExpensesMgmtWeb.Models.PurchaseWithProducts

@{
    ViewData["Title"] = "Delete";
}

<div class="border my-2">
    <h6 class="m-3 font-weight-bold font-italic">Are you sure you want to delete this?</h6>
</div>

<div class="container border">
    @{
        ViewData["showGeneralPurchData"] = true;
        ViewData["showActions"] = false;

        await Html.RenderPartialAsync("_PurchaseWithProductsDetails", Model, ViewData);
    }

    <div class="my-2">
        <form asp-action="Delete" asp-route-id="@Model.Purchase.Id">
            <button asp-action="Index" class="btn bg-info text-white">Back</button>
            <button type="submit" class="btn bg-info text-white">Delete</button>
        </form>
    </div>
</div>
